.app {
  height: 100vh;
  padding: 2.4rem;
  overscroll-behavior-y: none;
  display: flex;
  position: relative;
}

@media (max-width: 1000px) {
  .app {
    padding: 0;
  }
}

@media (max-width: 925px) {
  .app {
    flex-direction: column;
  }
}
